[submodule ".registry"]
	path = .registry
	url = https://github.com/ckbiobank/ckbiobank.r-universe.dev
	branch = HEAD
[submodule "ckbtools"]
	path = ckbtools
	url = https://github.com/ckbiobank/ckbtools
